@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,300;0,400;1,700&display=swap');

body{
    background: white;
    padding: 0;
    margin: 0;
    font-family: 'Source Serif Pro', serif;
}

@media(min-width:1200px){
.global-area {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: auto;
    background: #ccc;
}
header {
    width: 100%;
    height: 90px;
    position: relative;
    background: white;
}
.content-header {
    width: 70%;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
.logo {
    position: absolute;
    width: 30%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("images/logo.png") no-repeat;
    background-position: center;
}
.search {
    position: absolute;
    width: 30%;
    height: 100%;
    top: 0;
    right: 0;
}
#search-bar {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 80%;
    height: 25px;
    padding: 8px;
    background: url(images/search-icon.png) no-repeat;
    background-size: 20px 20px;
    background-position-x: 186px;
    background-position-y: 7px;
}

/*----------------------- PICTURE & TITLE -----------------------*/

/*----------------------- MAIN ICONS & TEXT -----------------------*/

.main-picture {
    width: 100%;
    height: 500px;
    display: flex;
    background: url(images/Bat.jpg) no-repeat;
    background-size: 100% 500px;
    justify-content: center;
}
.text-zone {
    width: 100%;
    height: 220px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-zone h1 {
    font-weight: lighter;
    font-size: 90px;
    margin-bottom: -70px;
    color: white;
}
.text-zone p {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: lighter;
    margin: 0;
    padding: 70px;
}
.main-icons-zone {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.icons-box {
    width: 80%;
    height: 265px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: -50px;
}
.big-icon-1, .big-icon-2, .big-icon-3, .big-icon-4 {
    width: 230px;
    height: 260px;
    margin: 5px;
}
.big-icon-1, .big-icon-2, .big-icon-3, .big-icon-4{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 140px 150px;
    background-position-y: 80px;
}
.big-icon-1, .big-icon-3{
    background-color: rgb(206, 32, 90);
}
.big-icon-2, .big-icon-4{
    background-color: rgb(75, 74, 74);
}
.big-icon-1 {
    background-image: url(images/icone1.png);
}
.big-icon-2{
    background-image: url(images/icone2.png);
}
.big-icon-3{
    background-image: url(images/icone3.png);
}
.big-icon-4{
    background-image: url(images/icone4.png);
}
.big-icon-1, .big-icon-2, .big-icon-3, .big-icon-4  p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.main-icons-text-zone {
    text-align: center;
    width: 80%;
    height: 300px;
    margin-top: 100px;
}
.main-icons-text-zone h1 {
    font-size: 20px;
}
.main-icons-text-zone p {
    font-size: 43px;
    margin-top: 0px;
}
.main-icons-text-zone span{
    color:  rgb(206, 32, 90);
}
.learn-more-button {
    width: 200px;
    height: 20px;
    text-align: center;
    background: rgb(206, 32, 90);
    padding: 10px;
    border-radius: 4px;
    margin-top: -10px;
}
.learn-more-button a:link, .learn-more-button a:visited {
    text-decoration: none;
    color: white;
}
.learn-more-button:hover{
    background: rgb(116, 17, 50);
    cursor:pointer;
}
.learn-more-button:hover a{
    background: rgb(116, 17, 50);
    color: pink;
}

/*----------------------- ABOUT COMPANY IMAGES & TEXT -----------------------*/

.about-us {
    width: 100%;
    height: 800px;
    position: relative;
    margin-bottom: 100px;
    margin-top: 100px;
}
.left-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 49%;
    height: 100%;
}
.right-side {
    position: absolute;
    top: 0;
    right: 0;
    width: 49%;
    height: 100%;
}
.news {
    width: 100%;
    height: 60%;
    background: rgb(75, 74, 74);
    position: absolute;
    top: 0;
    left: 0;
}
.news h1 {
    position: absolute;
    left: 70px;
    top: 75px;
    font-size: 55px;
    color: white;
}
.news img {
    width: 240px;
    height: 240px;
    position: absolute;
    top: 210px;
    left: 30px;
    border-radius: 50%;
}
.about-company, .about-company-picture {
    width: 48%;
    height: 40%;
    background: darkgray;
    position: absolute;
}
.about-company-picture {
    bottom: -20px;
    left: 0;
    background: url(images/Bat4.jpg) no-repeat;
    background-size: 100% 320px;
}
.about-company {
    bottom: -20px;
    right: 0;
}
.about-company h1 {
    font-size: 24px;
    font-weight: bold;
    padding: 35px;
    position: absolute;
    top: 40px;
    left: 0;
}
.about-company .learn-more-button {
    position: absolute;
    left: 30px;
    top: 230px;
}

.about-team, .about-team-picture {
    width: 48%;
    height: 40%;
    background: darkgray;
    position: absolute;
}
.about-team {
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 35px;
}
.about-team h1 {
    margin-top: 50px;
    margin-bottom: 15px;
    padding: 0;
    font-weight: normal;
    font-size: 25px;
}
.about-team h2 {
    margin: 0;
    font-size: 35px;
}
.about-team-picture {
    top: 0;
    right: 0;
    background: url(images/Bat3.jpg) no-repeat;
    background-size: 100% 320px;
}
.design {
    width: 100%;
    height: 60%;
    background: rgb(206, 32, 90);
    position: absolute;
    bottom: -20px;
    left: 0;
    box-sizing: border-box;
    padding: 30px;
}
.design p {
    margin-left: 65px;
    text-align: right;
    font-size: 35px;
    font-style: italic;
}
.design img {
    width: 210px;
    height: 210px;
    position: absolute;
    top: 250px;
    right: 30px;
    border-radius: 50%;
}


/*----------------------- GALLERY OF IMAGES -----------------------*/

.gallery {
    width: 100%;
    height: 800px;
    position: relative;
    background: rgb(75, 74, 74);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.center {
    position: absolute;
    width: 1080px;
    height: 80%;
}
.photo-1 {
    position: absolute;
    top: 60px;
    left: 0;
    width: 560px;
    height: 500px;
    background: url(images/Bat6.jpg) no-repeat;
    background-size: 100% 500px;
}

.photo-2 {
    position: absolute;
    top: 0px;
    left: 590px;
    width: 270px;
    height: 340px;
    background: url(images/Bat7.jpg) no-repeat;
    background-size: 270px 340px;
}
.photo-3 {
    position: absolute;
    top: 100px;
    left: 890px;
    width: 190px;
    height: 240px;
    background: url(images/Bat8.jpg) no-repeat;
    background-size: 190px 240px;
}
.photo-4 {
    position: absolute;
    top: 360px;
    left: 600px;
    width: 480px;
    height: 280px;
    background: url(images/Bat9.jpg) no-repeat;
    background-size: 480px 280px;
}
.text-and-button {
    position: absolute;
    top: 200px;
    left: 350px;
    width: 450px;
    height: 320px;
    background: rgb(206, 32, 90);
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.gallery .text-and-button .learn-more-button {
    width: 200px;
    height: 20px;
    text-align: center;
    background: white;
    padding: 10px;
    border-radius: 4px;
    margin-top: -10px;
}

.gallery .text-and-button .learn-more-button a:link, .learn-more-button a:visited {
    text-decoration: none;
    color: black;
}
.gallery .text-and-button .learn-more-button:hover{
    background: rgb(116, 17, 50);
    cursor:pointer;
}
.gallery .text-and-button .learn-more-button:hover a{
    background: rgb(116, 17, 50);
    color: pink;
}
.text-and-button h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    color: white;
    margin-top: 35px;
    margin-bottom: 10px;
}
.text-and-button p {
    margin-top: 0px;
    margin-bottom: 35px;
    color: white;
}
.text-and-button p span{
    text-decoration: underline;
}


/*----------------------- FOOTER -----------------------*/

footer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 60px 0 0 0;
}
.bottom-text-box {
    width: 800px;
    height: 100px;
}
footer .bottom-text-box h1 {
    font-weight: lighter;
    font-style: italic;
    font-size: 35px;
    text-align: center;
    margin: 0;
}
.bottom-pictures {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-bottom: 60px;
}
.picture-1 {    
    width: 200px;
    height: 200px;
    margin: 10px;
    background: white;
    border-radius: 50%;
}

.picture-1.image-1, .picture-1.image-2, .picture-1.image-3 {
    background-repeat: no-repeat;
    background-size: 200px 200px;
}
.picture-1.image-1{
    background-image: url(images/Bat10.jpg);
}
.picture-1.image-2{
    background-image: url(images/Bat11.jpg);
}
.picture-1.image-3{
    background-image: url(images/Bat12.jpg);
}

.picture-2 {
    width: 270px;
    height: 270px;
    margin: 10px;
    background: rgb(206, 32, 90);
    box-sizing: border-box;
    padding: 20px;
}
footer .picture-2 p {
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-align: center;
}
}

/********************************************************************** SCREEN 769PX **********************************************************************/


@media(min-width:760px) and (max-width:1199px){
    .global-area {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        height: auto;
        background: #ccc;
    }
    header {
        width: 100%;
        height: 90px;
        position: relative;
        background: white;
    }
    .content-header {
        width: 70%;
        margin: 0 auto;
        height: 100%;
        position: relative;
    }
    .logo {
        position: absolute;
        width: 30%;
        height: 100%;
        top: 0;
        left: 0;
        background: url("images/logo.png") no-repeat;
        background-position: center;
    }
    .search {
        position: absolute;
        width: 30%;
        height: 100%;
        top: 0;
        right: 0;
    }
    #search-bar {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 80%;
        height: 25px;
        padding: 8px;
        background: url(images/search-icon.png) no-repeat;
        background-size: 15px 15px;
        background-position-x: 120px;
        background-position-y: 11px;
    }
    
    /*----------------------- PICTURE & TITLE -----------------------*/
    
    /*----------------------- MAIN ICONS & TEXT -----------------------*/
    
    .main-picture {
        width: 100%;
        height: 500px;
        display: flex;
        background: url(images/Bat.jpg) no-repeat;
        background-size: 100% 550px;
        justify-content: center;
    }
    .text-zone {
        width: 900px;
        height: 220px;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text-zone h1 {
        font-weight: lighter;
        font-size: 75px;
        text-align: center;
        margin-bottom: -70px;
        color: white;
    }
    .text-zone p {
        text-align: center;
        color: white;
        font-size: 20px;
        font-weight: lighter;
        margin: 0;
        padding: 70px;
    }
    .main-icons-zone {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .icons-box {
        width: 90%;
        height: 265px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: -50px;
        justify-content: center;
    }
    .big-icon-1, .big-icon-2, .big-icon-3, .big-icon-4 {
        width: 330px;
        height: 260px;
        margin: 5px;
    }
    .big-icon-1, .big-icon-2, .big-icon-3, .big-icon-4{
        background-repeat: no-repeat;
        background-position: center;
        background-size: 140px 150px;
        background-position-y: 80px;
    }
    .big-icon-1, .big-icon-3{
        background-color: rgb(206, 32, 90);
    }
    .big-icon-2, .big-icon-4{
        background-color: rgb(75, 74, 74);
    }
    .big-icon-1 {
        background-image: url(images/icone1.png);
    }
    .big-icon-2{
        background-image: url(images/icone2.png);
    }
    .big-icon-3{
        background-image: url(images/icone3.png);
    }
    .big-icon-4{
        background-image: url(images/icone4.png);
    }
    .big-icon-1, .big-icon-2, .big-icon-3, .big-icon-4  p {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: white;
    }
    .main-icons-text-zone {
        text-align: center;
        width: 90%;
        height: 340px;
        margin-top: 340px;
    }
    .main-icons-text-zone h1 {
        font-size: 20px;
    }
    .main-icons-text-zone p {
        font-size: 42px;
        margin-top: 0px;
    }
    .main-icons-text-zone span{
        color:  rgb(206, 32, 90);
    }
    .learn-more-button {
        width: 200px;
        height: 20px;
        text-align: center;
        background: rgb(206, 32, 90);
        padding: 10px;
        border-radius: 4px;
        margin-top: -10px;
    }
    .learn-more-button a:link, .learn-more-button a:visited {
        text-decoration: none;
        color: white;
    }
    .learn-more-button:hover{
        background: rgb(116, 17, 50);
        cursor:pointer;
    }
    .learn-more-button:hover a{
        background: rgb(116, 17, 50);
        color: pink;
    }
    
    /*----------------------- ABOUT COMPANY IMAGES & TEXT -----------------------*/
    
    .about-us {
        width: 100%;
        height: 1810px;
        position: relative;
        margin-bottom: 0;
        margin-top: 50px;
    }
    .left-side {
        position: absolute;
        top: 0;
        left: 40px;
        width: 90%;
        height: 800px;
    }
    .right-side {
        position: absolute;
        top: 880px;
        right: 57px;
        width: 90%;
        height: 800px;
    }
    .news {
        width: 100%;
        height: 50%;
        background: rgb(75, 74, 74);
        position: absolute;
        top: 0;
        left: 0;
    }
    .news h1 {
        position: absolute;
        left: 70px;
        top: 10px;
        font-size: 55px;
        color: white;
    }
    .news img {
        width: 240px;
        height: 240px;
        position: absolute;
        top: 140px;
        left: 30px;
        border-radius: 50%;
    }
    .about-company, .about-company-picture {
        width: 48%;
        height: 55%;
        background: darkgray;
        position: absolute;
    }
    .about-company-picture {
        bottom: -60px;
        left: 0;
        background: url(images/Bat4.jpg) no-repeat;
        background-size: 100% 440px;
    }
    .about-company {
        bottom: -60px;
        right: 0;
    }
    .about-company h1 {
        font-size: 30px;
        font-weight: bold;
        padding: 35px;
        position: absolute;
        top: 40px;
        left: 0;
    }
    .about-company .learn-more-button {
        position: absolute;
        left: 50px;
        top: 290px;
    }
    
    .about-team, .about-team-picture {
        width: 48%;
        height: 50%;
        background: darkgray;
        position: absolute;
    }
    .about-team {
        top: 0;
        left: 0;
        box-sizing: border-box;
        padding: 35px;
    }
    .about-team h1 {
        margin-top: 100px;
        margin-bottom: 15px;
        padding: 0;
        font-weight: normal;
        font-size: 25px;
    }
    .about-team h2 {
        margin: 0;
        font-size: 35px;
    }
    .about-team-picture {
        top: 0;
        right: 0;
        background: url(images/Bat3.jpg) no-repeat;
        background-size: 100% 440px;
    }
    .design {
        width: 100%;
        height: 60%;
        background: rgb(206, 32, 90);
        position: absolute;
        bottom: -100px;
        left: 0;
        box-sizing: border-box;
        padding: 30px;
    }
    .design p {
        text-align: right;
        font-size: 35px;
        font-style: italic;
        color: white;
    }
    .design img {
        width: 250px;
        height: 250px;
        position: absolute;
        top: 200px;
        right: 30px;
        border-radius: 50%;
    }
    
    
    /*----------------------- GALLERY OF IMAGES -----------------------*/
    
    
    .gallery {
        width: 100%;
        height: 880px;
        position: relative;
        display: flex;
        background: rgb(75, 74, 74);
        justify-content: center;
        align-items: center;
    }
    .center {
        position: relative;
        width: 692px;
        height: 90%;
    }
    .photo-1 {
        position: absolute;
        top: 100px;
        left: 0;
        width: 300px;
        height: 420px;
        background: url(images/Bat6.jpg) no-repeat;
        background-position-x: center;
        background-size: 770px 500px;
    }
    .photo-2 {
        position: absolute;
        top: 60px;
        right: 170px;
        width: 200px;
        height: 280px;
        background: url(images/Bat7.jpg) no-repeat;
        background-size: 270px 340px;
    }
    .photo-3 {
        position: absolute;
        top: 120px;
        right: 0px;
        width: 150px;
        height: 220px;
        background: url(images/Bat8.jpg) no-repeat;
        background-size: 190px 280px;
    }
    .photo-4 {
        position: absolute;
        top: 360px;
        right: 0px;
        width: 370px;
        height: 200px;
        background: url(images/Bat9.jpg) no-repeat;
        background-size: 480px 210px;
    }
    .text-and-button {
        position: absolute;
        top: 470px;
        right: 220px;
        width: 400px;
        height: 320px;
        background: rgb(206, 32, 90);
        box-sizing: border-box;
        padding: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .gallery .text-and-button .learn-more-button {
        width: 200px;
        height: 20px;
        text-align: center;
        background: white;
        padding: 10px;
        border-radius: 4px;
        margin-top: -10px;
    }
    .gallery .text-and-button .learn-more-button a:link, .learn-more-button a:visited {
        text-decoration: none;
        color: black;
    }
    .gallery .text-and-button .learn-more-button:hover{
        background: rgb(116, 17, 50);
        cursor:pointer;
    }
    .gallery .text-and-button .learn-more-button:hover a{
        background: rgb(116, 17, 50);
        color: pink;
    }
    .text-and-button h1 {
        text-align: center;
        font-weight: bolder;
        font-size: 50px;
        color: white;
        margin-top: 35px;
        margin-bottom: 10px;
    }
    .text-and-button p {
        margin-top: 0px;
        margin-bottom: 35px;
        color: white;
    }
    .text-and-button p span{
        text-decoration: underline;
    }
    
    /*----------------------- FOOTER -----------------------*/
    
    footer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin: 60px 0 0;
    }
    .bottom-text-box {
        width: 80%;
        height: 100%;
        margin-bottom: 20px;
    }
    footer .bottom-text-box h1 {
        font-weight: lighter;
        font-style: italic;
        font-size: 37px;
        text-align: center;
        margin: 0;
    }
    .bottom-pictures {
        display: flex;
        width: 90%;
        flex-direction: row;
        align-items: center;
        margin-bottom: 60px;
        justify-content: center;
    }
    .picture-1 {
        width: 180px;
        height: 180px;
        margin: 5px;
        background: white;
        border-radius: 50%;
    }
    
    .picture-1.image-1, .picture-1.image-2, .picture-1.image-3 {
        background-repeat: no-repeat;
        background-size: 200px 200px;
    }
    .picture-1.image-1{
        background-image: url(images/Bat10.jpg);
    }
    .picture-1.image-2{
        background-image: url(images/Bat11.jpg);
    }
    .picture-1.image-3{
        background-image: url(images/Bat12.jpg);
    }
    
    .picture-2 {
        width: 170px;
        height: 410px;
        margin: 5px;
        background: rgb(206, 32, 90);
        box-sizing: border-box;
        padding: 20px;
    }
    footer .picture-2 p {
        font-size: 13px;
        font-weight: bold;
        color: white;
        text-align: center;
    }
}
@media(max-width:759px){
   .global-area{
    display: none;
   }
}

